ENVIRONMENT=local

POSTGRES_DB=courses_db
POSTGRES_USER=courses_user
POSTGRES_PASSWORD=courses_password
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,your-domain.com
WEB_PORT=8000

# CSRF — для продакшена с HTTPS
# CSRF_TRUSTED_ORIGINS=https://your-domain.com,https://www.your-domain.com